basePath: /
consumes:
    - application/json
info:
    description: Documentation for REST API
    title: for the RESTful Server
    version: 1.0.0
paths:
    /:
        post:
            description: Works with all HTTP methods
            operationId: OK
            responses:
                "200":
                    $ref: '#/responses/OK'
                "500":
                    $ref: '#/responses/InternalServerError'
            summary: Default Handler for everything that is not a match.
            tags:
                - DefaultHandler
produces:
    - application/json
responses:
    AlreadyExistsError:
        description: AlreadyExistsError message returned as an HTTP Status Code
    BadRequest:
        description: BadRequest message returned as an HTTP Status Code
    InternalServerError:
        description: InternalServerError message returned as an HTTP Status Code
    NotFound:
        description: NotFound message returned as an HTTP Status Code
    OK:
        description: OK message returned as an HTTP Status Code
schemes:
    - http
swagger: "2.0"
